* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.heading {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
